.opzione-toggle {
    background-color: var(--colore-card);
    justify-content: space-between;
}

.opzione-toggle p {
    margin: 0 !important;
}

.contenitore-viola {
    width: 80%;
    overflow: hidden;
    background-color: #E0D5FF;
    border-radius: 15px;
    padding: 1em;
    overflow: auto;
}

.contenitore-viola h5 {
    color: var(--colore-quart);
}

.crea-stanza .categoria {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: var(--colore-card);
    font-size: 1.5em;
    margin: .2em 0 .2em 0;
    text-align: center;
    transition: all .2s;
    user-select: none;
    cursor: pointer;
}

.crea-stanza .div-categoria {
    height: 70px;
    width: 45%;
    padding: .3em;
}

.crea-stanza .div-categoria input[type="radio"] {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
}


.crea-stanza .domande-casuali {
    background-image: linear-gradient(to left, #fa709a 0%, #fee140 100%);
    font-size: 1.2em;
    animation: heart-beat 3s infinite;
}

.crea-stanza .div-categorie {
    justify-content: space-around;
    padding: .5em;
}

.crea-stanza input:checked + label {
    border: solid 4px white;
    box-shadow: 2px 2px 4px var(--colore-shadow);
}

@media screen and (max-width: 576px) {
    .crea-stanza .div-categoria {
        width: 100%;
    }

    .crea-stanza .div-categorie {
        max-height: 400px;
    }

    .crea-stanza {
        padding-left: 0;
        padding-right: 0;
    }
}

@keyframes heart-beat {
    0%, 35%, 45%, 50%, 55%, 100% {transform: scale(1) rotate(0deg);}
    40% {transform: scale(1.05) rotate(1deg);}
    50% {transform: scale(1.05) rotate(-1deg);}
}