.gioca p {
    margin: 0;
}

.riga-testo-riga {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.riga-testo-riga p {
    color: white;
    margin: .1em 1em .1em 1em;
}

.riga-testo-riga hr {
    background-color: var(--colore-card);
    height: 4px;
    flex-grow: 1;
}

.gioca input {
    margin: 0 !important;
}

.gioca .contenitore-viola {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em 0;
    width: 80%;
    overflow: auto;
    min-height: 450px;
}

.gioca .contenitore-viola .col-12 {
    margin-bottom: .5em;
}

.gioca .contenitore-viola .card-stanza {
    width: 100%;
    height: 80px;
    transition: all .1s;
    margin: 0;
}

.div-stanze {
    margin: 0px;
    max-height: 390px;
    width: 90%!important;
}

.div-stanze a {
    flex-basis: calc(50% - 30px);
    margin: .3em 15px;
}

.div-stanze a:hover{
    text-decoration: none;
}

.gioca .contenitore-viola .card-stanza:hover {
    transform: scale(1.02);
}

.gioca .scroll-bar-content {
    margin-right: -18px !important;
    padding-bottom: 1em;
}

.gioca .ricarica {
    transition: transform .1s;
}

.gioca .ricarica:active {
    transform: scale(.95);
}

.gioca input.form-control-lg {
    min-width: 100px;
}

.ricarica {
    background-color: var(--colore-card);
    border-radius: 8px;
    margin-bottom: 0 !important;
    border: none;
    margin-left: 15px !important;
    width: 45px !important;
}

.ricarica:focus {
    outline: none;
}

.icona{
    font-size: 20px;
    color: var(--colore-quart);
}

.gioca .nome-stanza {
    word-break: break-all;
}

@media screen and (max-width: 768px) {
    .contenitore-viola {
        width: 100% !important;
        max-height: 700px;
    }
    
    .gioca .contenitore-viola a {
        flex-basis: 100%;
        padding: 0;
    }

    .gioca .scroll-bar-content {
        padding: 0 .1em !important;
        margin-left: -18px !important;
    }

    .riga-testo-riga {
        width: 100%;
    }

    .gioca .contenitore-viola .col-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}