.info-utente{
    background-color: rgba(255, 255, 255, 0.6);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 15px;
    margin-top: 1em;
    margin-right: 1em;
}

.info-utente .dim{
    width: 90%;
}

.statistiche{
    background-color: rgba(255, 255, 255, 0.6);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 15px;
    margin-top: 1em;
    margin-left: 1em;
}


.info-utente .div-card, .statistiche .div-card{
    margin-bottom: 1.5em !important;
    padding-top: .5em;
    padding-bottom: .5em;
    height: 80px;
}

.info-princ{
    justify-content: space-between !important;
    margin: 1em;
}

.avatar{
    position: relative;
}

.cerchio-penna{
    position: absolute;
    background-color: var(--colore-card);
    bottom:7%;
    right: 0%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.modifica{
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.penna{
    font-size: 25px;
    color: var(--colore-quart);

}

.iqfight-popup-bg {
    background-color: var(--colore-card) !important;
    color: var(--colore-scritte) !important; 
}

.iqfight-popup button {
    color: var(--colore-input) !important;
}

@media screen and (max-width: 576px){
    .statistiche{
        margin-top: 2em;
        padding-left: .5em;
        padding-right: .5em;
        margin-left: 0 !important;
    }
    .info-utente{
        padding-left: .5em;
        padding-right: .5em;
        margin-right: 0 !important;
    }
    .modifica{
        margin-bottom: .3em;
    }
}