.giocatori {
	border-radius: 15px;
	justify-content: flex-start;
	flex-direction: column;
	display: flex;
	align-items: center;
	overflow-y: auto;
	max-height: 350px;
	padding-bottom: 1em;
	width: 100%;
	padding-left: 0px !important;
	padding-right: 0px !important;
	min-height: 305px;
}

.scroll-view {
	padding-right: 8px;
}

.div-princ {
	height: 60%;
}
