.domanda{
    background-color: white;
    height: auto;
    min-height: 8em;
    width: 100%;
    border: 4px solid rgb(101, 64, 204);
    border-radius: 15px;
    font-size: 29px;
    word-spacing: break-all;
    text-align: center;
}

.risposta {
    background-color: white;
    height: 4em;
    width: 48%;
    padding: 1em;
    border: 4px solid rgb(101, 64, 204);
    border-radius: 15px;
    transition: all .5s;
    user-select: none;
    cursor: pointer;
}

.giocatore-risposto {
    background-color: #E0D5FF;
}

.stanza-gioco .card {
    transition: all .5s;
 }

.div-domanda{
    justify-content: space-between;
    flex-direction: row;
    
}

.row{
    margin: unset !important;
}

.stanza-gioco .progress{
    height: .7rem;
}