.pagina-vincitore {
  width: 80%;
}

.pagina-vincitore .div-card {
  width: 80%;
}

.pagina-vincitore .card {
  height: 65px;
  margin: 2em 2em 2em 5em;
  max-width: unset;
  margin-left: unset !important;
}

@media screen and (max-width: 576px) {
  .pagina-vincitore {
    width: 100% !important;
  }
  .pagina-vincitore .div-card {
    width: 100% !important;
  }
}

.pagina-vincitore .bottone {
  width: 17em;
}
