.nome-sezione{
    color:var(--colore-quart);
    font-size: .9em;
    height: 30%;
}

.sezione{
    font-size: 1.5em;
    flex-grow: 1;
}


.div-card{
    height: auto;
    color:var(--colore-scritte);
    background-color: var(--colore-card);
    border-style: solid;
    border-color: var(--colore-border);
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 3em;
    word-break: break-all;
    min-height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* text-overflow: clip; */
}

@media screen and (max-width: 576px){
    .div-card{
        margin-bottom: 1em !important;
        padding-left: 15px;
        padding-right: 10px;
    }
    .sezione{
        font-size: 1em !important;
    }
}