.nome-sezione{
    color:var(--colore-quart);
    font-size: .9em;
    height: 30%;
}

.sezione{
    font-size: 1.5em;
    text-overflow: clip;
    
}

.div-card{
    height: auto;
    color:var(--colore-scritte);
    background-color: var(--colore-card);
    border-style: solid;
    border-color: var(--colore-border);
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 3em;
    word-break: break-all;
    min-height: 70px;
    padding-top: .4em;
}

@media screen and (max-width: 576px){
    .div-card{
        margin-bottom: 1em !important;
    }
}