.nome-sezione{
    color:var(--colore-quart);
    font-size: .9em;
    min-height: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    padding-top: .1em;
}

.sezione{
    font-size: 1.5em;
    flex-grow: 1;
    min-height: 30px;
    color:var(--colore-scritte);
}

.div-card{
    height: auto;
    color:var(--colore-scritte);
    background-color: var(--colore-card);
    border-style: solid;
    border-color: var(--colore-border);
    border-radius: 15px;
    margin-bottom: 1em;
    word-break: break-all;
    min-height: 70px;
    justify-content: space-between;
    /* text-overflow: clip; */
    padding-left: 30px;
    padding-right: 20px;
}

@media screen and (max-width: 576px){
    .div-card{
        padding-left: 15px;
        padding-right: 10px;
    }
    .sezione{
        font-size: 1em !important;
    }
}