.input-toggle {
    display: flex;
    background-color: var(--colore-input);
    border-radius: .25rem;

    align-items: center;
    min-height: 24px;
    padding: .2em;
    box-sizing: border-box;
}

.input-toggle input {
    border: 0;
    outline: 0;
    width: 100%;
}

.input-toggle-text {
    flex-grow: 1;
}