
.title-box{
    background-color: #43A6C5;
    min-width: 100px;
    min-height: 30px;
    height: 40px;
    border-radius: 50px;
    color:white;
    font-size: 20px;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;

}