
.title{
    background-color: #43A6C5;
    min-width: 250px;
    min-height: 50px;
    width: 18%;
    height: 6.5vh;
    border-radius: 50px;
    box-shadow: grey;
    color:white;
    font-size: xx-large;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;

}