html, body, #root {
  width: 100%;
  height: 100%;
}

.sfondo {
  background-image: url(img/open-stage-blue.jpg);
  background-repeat: space;
  background-size: cover;
  height: 100%;
}

.contenitore-principale {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), grey;
  height: 100%;
  border-radius: 24px;
  position: relative;
}

.cerchio {
  background-color: #43A6C5;
  width: 2vw;
  height: 2vw;
  max-width: 40px;
  max-height: 40px;
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#cerchio-tl {
  top: 0;
  left: 0;
}

#cerchio-tr {
  top: 0;
  right: 0;
}

#cerchio-bl {
  bottom: 0;
  left: 0;
}

#cerchio-br {
  bottom: 0;
  right: 0;
}

.contenuto {
  height: 100%;
}