
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  height: 100%;
}

body {
  background-image: url(img/sfondo.png);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  min-height: 100%;
  
  font-family: "Poppins";
  padding: 1em;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

:root{
  --colore-primario:rgb(199,8,221);
  --colore-secondario: rgba(112,186,255,1);
  --colore-terz:#0996BB;
  --colore-quart:#8B6EDD;
  --colore-border:rgb(101, 64, 204);
  --colore-shadow:rgba(0, 0, 0, 0.4);
  --colore-placeholder:#c1b1ec;
  --colore-bottone:white;
  --colore-titolo: white;
  --colore-contorno:#e0d5ff;
  --colore-input:white;
  --colore-card:white;
  --colore-scritte:black;

}

.contenitore-principale {
  
  background: var(--colore-primario);
  background: linear-gradient(180deg, var(--colore-primario) 0%, var(--colore-secondario) 100%);
  /* height: 100%; */
  /* max-height: 768px; */
  max-width: 1280px;
  min-height: 80vh;
  width: 100%;
  border-radius: 24px;
  position: relative;
  padding: 3.5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  html, body, #root {
    width: 100%;
    height: auto;
    min-height: 100vh;
  }

  #root {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenitore-principale {
    max-height: unset;
    min-height: 90vh;
    padding: 2em;
  }
  hr.riga{
    height: 0.3em !important;
    width: 90% !important;
  }
  
}

hr.riga{
  width: 10%;
  height: 80%;
  background-color: rgba(196, 196, 196, 0.18);
  border-radius: 24px;
  border: none;
}

.cerchio {
  width: 2vw;
  height: 2vw;
  max-width: 40px;
  max-height: 40px;
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  box-shadow: inset 0px 4px 4px var(--colore-shadow);
}

#cerchio-tl {
  background-color: var(--colore-secondario);
  top: 0;
  left: 0;
}

#cerchio-tr {
  background-color: var(--colore-secondario);
  top: 0;
  right: 0;
}

#cerchio-bl {
  background-color: var(--colore-primario);
  bottom: 0;
  left: 0;
}

#cerchio-br {
  background-color: var(--colore-primario);
  bottom: 0;
  right: 0;
}

.contenuto {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.shadow {
  box-shadow: 4px 4px 4px var(--colore-shadow) !important;
}

.bottone {
  background-color: var(--colore-terz);
  width: 47%; 
  height: 0%;
  min-width: 150px;
  min-height: 50px;
  display:inline-block;
  border-radius: 15px;
  color: var(--colore-bottone);
  border: none;
}

.bottone::selection {
  color: var(--colore-bottone);
}

.bottone:hover {
  background-color:  var(--colore-secondario);
  background-color:  var(--colore-secondario);
}

.bottone:focus {
  outline: 0;
}

.form-control-lg {
  color: var(--colore-quart) !important;
  width: 100% !important;
  border-radius: 10px;
  margin: 0em 0em 2em;
  border:none;
  outline: 0;
}

.form-control-lg::placeholder {
  color: var(--colore-placeholder);
}

.centra {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titolo {
  color: var(--colore-titolo);
  font-size: 1.9em;
}


.form-check-input{
  outline: 0;
}

.iqfight-logo {
  max-width: 150px !important;
}